<!-- <div class="register-page">
  <div class="register-container">
    <h2 class="text-center"><a [routerLink]="['/']" class="logo">HRS.COM</a></h2>

    <div class="card">
      <div class="card-header">
        <h1 class="h3 mb-3 fw-normal">Kayıt ol</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="registerFormGroup" (submit)="onFormSubmit()">
          <div class="input-group">
            <div class="form-floating">
              <input type="text" class="form-control" id="firstname" autocomplete="given-name" formControlName="firstName" placeholder="First Name" required>
              <label for="firstname">Ad</label>
              <app-error-field [control]="registerFormGroup.controls['firstName']" propertyName="Ad"></app-error-field>
            </div>
            
            <div class="form-floating">
              <input type="text" class="form-control" id="lastname" autocomplete="family-name" formControlName="lastName" placeholder="Last Name">
              <label for="lastname">Soyad</label>
              <app-error-field [control]="registerFormGroup.controls['lastName']" propertyName="Soyad"></app-error-field>
            </div>
          </div>

          <div class="form-floating">
            <input type="date" class="form-control" id="birthdate" autocomplete="bday" formControlName="birthDate" placeholder="Birth Date">
            <label for="birthdate">Doğum Tarihi</label>
            <app-error-field [control]="registerFormGroup.controls['birthDate']" propertyName="Doğum Tarihi"></app-error-field>
          </div>

          <div class="input-group mb-3" autocomplete="sex">
            <label class="gender-label">Cinsiyet:</label>
            <div class="form-check form-check-inline">
              <input class="form-check-input" id="male" value="M" type="radio" formControlName="gender" name="gender">
              <label class="form-check-label" for="male">Erkek</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" id="female" value="F" type="radio" formControlName="gender" name="gender">
              <label class="form-check-label" for="female">Kadın</label>
            </div>
          </div>

          <div class="form-floating">
            <input type="email" class="form-control" autocomplete="email" id="email" formControlName="email" placeholder="name@example.com">
            <label for="email">E-Posta</label>
            <app-error-field [control]="registerFormGroup.controls['email']" propertyName="E-posta"></app-error-field>
          </div>

          <div class="form-floating">
            <input type="text" class="form-control" id="phone" autocomplete="tel" formControlName="phone" placeholder="Phone">
            <label for="phone">Telefon Numarası</label>
            <app-error-field [control]="registerFormGroup.controls['phone']" propertyName="Telefon Numarası"></app-error-field>
          </div>

          <div class="form-floating">
            <input type="password" autocomplete="new-password" class="form-control" id="password" formControlName="password" placeholder="Password">
            <label for="password">Parola</label>
            <app-error-field [control]="registerFormGroup.controls['password']" propertyName="Parola"></app-error-field>
          </div>
          
          <div class="form-floating">
            <input type="password" autocomplete="new-password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Password">
            <label for="confirmPassword">Parola Tekrarı</label>
            <app-error-field [control]="registerFormGroup.controls['confirmPassword']" propertyName="Parola"></app-error-field>
          </div>
        
          <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" formControlName="userAgreement" value="useragreement" id="useragreement">
            <label class="form-check-label" for="useragreement">
              Kullanıcı Sözleşmesi'ni okudum, anladım, kabul ediyorum.
            </label>
            <app-error-field [control]="registerFormGroup.controls['userAgreement']" propertyName="Kullanıcı Sözleşmesi"></app-error-field>
          </div>

          <button class="btn btn-primary w-100 py-2" type="submit">Kayıt Oluştur</button>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #successDialogTemplate>
  <h4><b>Başarılı!</b></h4>
  <p>Başarıyla kayıt olundu.</p>
</ng-template>
<ng-template #failedDialogTemplate>
  <h4><b>Hata!</b></h4>
  <p class="important">Kayıt esnasında bir hata oluştu. Lütfen daha sonra tekrar deneyiniz.</p>
</ng-template> -->

<div class="main">

  <section class="signup">
      <!-- <img src="../../../../../assets/bg.jpg" alt=""> -->
      <div class="container">
          <div class="signup-content">
              <form method="POST" id="signup-form" class="signup-form">
                  <h2 class="form-title">Kayıt Olun</h2>
                  <div class="form-group">
                      <input type="text" class="form-input" name="name" id="name" placeholder="Ad"/>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-input" name="name" id="name" placeholder="Soyad"/>
                  </div>
                  <div class="form-group">
                    <input type="date" class="form-input" name="name" id="name" placeholder="Doğum Tarihi"/>
                  </div>
                  <div class="form-group">
                    <label>Cinsiyet: </label>
                    <label><input type="radio" class="form-input" name="name" id="name" placeholder="Doğum Tarihi"/> Erkek </label>
                    <label><input type="radio" class="form-input" name="name" id="name" placeholder="Doğum Tarihi"/>Kadın</label>
                  </div>
                  <div class="form-group">
                      <input type="email" class="form-input" name="email" id="email" placeholder="E-Posta"/>
                  </div>
                  <div class="form-group">
                    <input type="tel" class="form-input" name="email" id="email" placeholder="Telefon No."/>
                  </div>
                  <div class="form-group">
                      <input type="text" class="form-input" name="password" id="password" placeholder="Parola"/>
                      <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>
                  </div>
                  <div class="form-group">
                      <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Parola Tekrarı"/>
                  </div>
                  <div class="form-group">
                      <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                      <label for="agree-term" class="label-agree-term"><span><span></span></span>Aydınlatma Metni'ni okudum, anladım.</label>
                  </div>
                  <div class="form-group">
                      <input type="submit" name="submit" id="submit" class="form-submit" value="Kayıt Ol"/>
                  </div>
              </form>
              <p class="loginhere">
                  Zaten bir hesabın var mı ? <a href="#" class="loginhere-link">Giriş Yap</a>
              </p>
          </div>
      </div>
  </section>

</div>