:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}

mat-drawer{
    width: 260px;
    background: #222f44;
}

mat-drawer-container{
    height: 100%;
}

///scrollbar
mat-drawer-content {
    overflow-y: auto; /* Dikey kaydırmayı etkinleştir */
    max-height: calc(100vh - 0px); /* Maksimum yükseklik (navbar yüksekliği dahil) */
}

/* WebKit tabanlı tarayıcılarda kaydırma çubuğu stilini özelleştirme */
mat-drawer-content::-webkit-scrollbar {
    width: 12px; /* Kaydırma çubuğu genişliği */
}

mat-drawer-content::-webkit-scrollbar-track {
    background: #f1f5f9; /* Kaydırma çubuğu yolu rengi */
    border-radius: 10px; /* Kenarların yuvarlatılması */
}

mat-drawer-content::-webkit-scrollbar-thumb {
    background-color: #94a3b8; /* Kaydırma çubuğu rengi */
    border-radius: 10px; /* Kenarların yuvarlatılması */
    border: 2px solid #f1f5f9; /* Kenar boşluğu ve renk */
}

mat-drawer-content::-webkit-scrollbar-thumb:hover {
    background: #647286; /* Kaydırma çubuğu üzerine gelindiğinde renk */
}


/////////////////////////////
/// main
.page {
    color: white;
    padding: 0 1rem;
    background: #f1f5f9;
}

.page__box {
    min-height: 90px;
    background: #222f44;
    margin: 0 -1rem;
    font-size: 23px;
}

.page__content {
    min-height: calc(100vh - 178px); /* Sabit değer yerine dinamik hesaplama */
    border-radius: 10px;
    margin-top: -2rem;
    background: #f7f7f7;
    color: black;
    font-size: 1rem;
    position: relative;
}

.page__content-data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 1rem;
}