<div class="card" style="background-color: whitesmoke;">
    <div class="card-body table-responsive">
      <table #dataTable class="table table-hover table-striped table-bordered">
        <thead>
        <tr>
          <th>Column</th>
          <th>Column</th>
          <th>Column</th>
          <th>Column</th>
          <th>Column</th>
          <th>Column</th>
          <th>Column</th>
          <th>Column</th>
          <th>Column</th>
          <th>Column</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
        </tr>
        <tr>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
        </tr>
        <tr>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
        </tr>
        <tr>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
          <td>Row</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <button (click)="exportToCSV()">CSV</button>
      <button (click)="exportToExcel()">Excel</button>
      <button (click)="exportToPNG()">PNG</button>
      <button (click)="exportToPDF()">PDF</button>
      <button (click)="printTable()">Yazdır</button>
    </div>
  </div>