<form [formGroup]="changePasswordFormGroup" (submit)="onFormSubmit()">
  <div class="mb-3">
    <label for="currentPassword" class="form-label">Mevcut Parola</label>
    <div class="input-group">
      <input [type]="!showCurrentPassword ? 'text' : 'password'" class="form-control" id="currentPassword" formControlName="currentPassword">
      <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('currentPassword')">
        <i [ngClass]="{'fa-eye': showCurrentPassword, 'fa-eye-slash': !showCurrentPassword}" class="fas"></i>
      </button>
    </div>
    <div *ngIf="changePasswordFormGroup.get('currentPassword')?.touched && changePasswordFormGroup.get('currentPassword')?.invalid" class="text-danger mt-1">
      <small *ngIf="changePasswordFormGroup.get('currentPassword')?.errors?.['required']">Mevcut parola alanı boş bırakılamaz.</small>
      <small *ngIf="changePasswordFormGroup.get('currentPassword')?.errors?.['invalidCurrentPassword']">Mevcut parola hatalı.</small>
    </div>
  </div>

  <div class="mb-3">
    <label for="newPassword" class="form-label">Yeni Parola</label>
    <div class="input-group">
      <input [type]="!showNewPassword ? 'text' : 'password'" class="form-control" id="newPassword" formControlName="newPassword">
      <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('newPassword')">
        <i [ngClass]="{'fa-eye': showNewPassword, 'fa-eye-slash': !showNewPassword}" class="fas"></i>
      </button>
    </div>
    <div *ngIf="changePasswordFormGroup.get('newPassword')?.touched && changePasswordFormGroup.get('newPassword')?.invalid" class="text-danger mt-1">
      <small *ngIf="changePasswordFormGroup.get('newPassword')?.errors?.['required']">Yeni parola alanı boş bırakılamaz.</small>
      <small *ngIf="changePasswordFormGroup.get('newPassword')?.errors?.['minlength']">Yeni parola en az 6 karakter olmalıdır.</small>
      <small *ngIf="changePasswordFormGroup.get('newPassword')?.errors?.['maxlength']">Yeni parola 30 karakteri aşamaz.</small>
    </div>
  </div>

  <div class="mb-3">
    <label for="confirmPassword" class="form-label">Yeni Parolayı Tekrarla</label>
    <div class="input-group">
      <input [type]="!showConfirmPassword ? 'text' : 'password'" class="form-control" id="confirmPassword" formControlName="confirmPassword">
      <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('confirmPassword')">
        <i [ngClass]="{'fa-eye': showConfirmPassword, 'fa-eye-slash': !showConfirmPassword}" class="fas"></i>
      </button>
    </div>
    <div *ngIf="changePasswordFormGroup.get('confirmPassword')?.touched && changePasswordFormGroup.get('confirmPassword')?.invalid" class="text-danger mt-1">
      <small *ngIf="changePasswordFormGroup.get('confirmPassword')?.errors?.['required']">Yeni parola alanı boş bırakılamaz.</small>
    </div>
    <div *ngIf="changePasswordFormGroup.errors?.['passwordMismatch'] && changePasswordFormGroup.get('confirmPassword')?.touched" class="text-danger mt-1">
      <small>Parolalar uyuşmuyor.</small>
    </div>
  </div>

  <button class="btn btn-primary w-100" type="submit">Parolayı Değiştir</button>
</form>