<div class="row d-flex justify-content-center align-items-center" style="height: 98vh;">
  <div class="col-5">
    <div class="card">
      <div class="card-header">
        <h1 class="h3 mb-3 fw-normal">Change Password</h1>
      </div>
      <div class="card-body">
        <form [formGroup]="changePasswordFormGroup" (submit)="onFormSubmit()">
          <div class="form-floating position-relative">
            <input type="password" class="form-control" id="currentPassword" formControlName="currentPassword" placeholder="Current Password">
            <label for="currentPassword">Current Password</label>
            <button type="button" class="toggle-visibility-btn" (click)="togglePasswordVisibility('currentPassword')">
              <i [ngClass]="{'fa': true, 'fa-eye': !showCurrentPassword, 'fa-eye-slash': showCurrentPassword}"></i>
            </button>
            <div *ngIf="changePasswordFormGroup.get('currentPassword')?.touched && changePasswordFormGroup.get('currentPassword')?.invalid" class="text-danger">
              <div *ngIf="changePasswordFormGroup.get('currentPassword')?.errors?.['required']">Current password is required.</div>
              <div *ngIf="changePasswordFormGroup.get('currentPassword')?.errors?.['invalidCurrentPassword']">Current password is incorrect.</div>
            </div>
          </div>
          <div class="form-floating position-relative">
            <input type="password" class="form-control" id="newPassword" formControlName="newPassword" placeholder="New Password">
            <label for="newPassword">New Password</label>
            <button type="button" class="toggle-visibility-btn" (click)="togglePasswordVisibility('newPassword')">
              <i [ngClass]="{'fa': true, 'fa-eye': !showNewPassword, 'fa-eye-slash': showNewPassword}"></i>
            </button>
            <div *ngIf="changePasswordFormGroup.get('newPassword')?.touched && changePasswordFormGroup.get('newPassword')?.invalid" class="text-danger">
              <div *ngIf="changePasswordFormGroup.get('newPassword')?.errors?.['required']">New password is required.</div>
              <div *ngIf="changePasswordFormGroup.get('newPassword')?.errors?.['minlength']">New password must be at least 6 characters.</div>
              <div *ngIf="changePasswordFormGroup.get('newPassword')?.errors?.['maxlength']">New password cannot exceed 30 characters.</div>
            </div>
          </div>
          <div class="form-floating position-relative">
            <input type="password" class="form-control" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm New Password">
            <label for="confirmPassword">Confirm Password</label>
            <button type="button" class="toggle-visibility-btn" (click)="togglePasswordVisibility('confirmPassword')">
              <i [ngClass]="{'fa': true, 'fa-eye': !showConfirmPassword, 'fa-eye-slash': showConfirmPassword}"></i>
            </button>
            <div *ngIf="changePasswordFormGroup.get('confirmPassword')?.touched && changePasswordFormGroup.get('confirmPassword')?.invalid" class="text-danger">
              <div *ngIf="changePasswordFormGroup.get('confirmPassword')?.errors?.['required']">Confirm password is required.</div>
            </div>
            <div *ngIf="changePasswordFormGroup.errors?.['passwordMismatch'] && changePasswordFormGroup.get('confirmPassword')?.touched" class="text-danger">
              <div>Passwords do not match.</div>
            </div>
          </div>
          <button class="btn btn-primary w-100 py-2" type="submit">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>