<p>Randevularım</p>
<ag-grid-angular
class="ag-theme-quartz"
style="height: 100vh;"
domLayout="autoHeight"
(gridReady)="onGridReadyAppointmentList($event)"
rowSelection="single"
(selectionChanged)="onSelectionChangedAppointmentList()"
[rowData]="appointmentRows"
[columnDefs]="appointmentCols"
[defaultColDef]="defaultColDef"
suppressCellFocus/>


<ng-template #cancelAppointmentDialogTemplate>
  <h3><b>UYARI</b></h3>
  <p class="important">Randevuyu iptal etmek üzeresiniz, iptal etmek istediğinize emin misiniz?</p>
</ng-template>
