.large-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px;
  padding: 16px;
  border-radius: 8px;
  width: 100vh;
}


.ag-theme-quartz {
    // --ag-foreground-color: rgb(46, 66, 132);
    // --ag-background-color: rgb(249, 245, 227);
    // --ag-header-foreground-color: rgb(204, 245, 172);
    // --ag-header-background-color: #212f45;
    // --ag-odd-row-background-color: rgba(0, 0, 0, 0.03);
    // --ag-header-column-resize-handle-color: rgb(55, 46, 132);

    // --ag-font-weight: bold;
    --ag-font-size: 17px;
    --ag-font-family: Roboto, "Helvetica Neue", sans-serif;
    
    // --ag-font-family: monospace;
}
