.fas {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* İkon boyutunu ayarlamak için */
    height: 40px; /* İkon boyutunu ayarlamak için */
    text-decoration: none;
    border-radius: 50%;
    transition: background-color 0.3s, box-shadow 0.3s;
    margin-right: 8px; /* İkonlar arasında boşluk bırakmak için */
  }
  
 
  
  .fas:hover {
    background-color: rgba(0, 0, 0, 0.1); /* İkonların üstüne gelince arka plan gölgesi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* İkonların üstüne gelince gölge efekti */
  }

  .fas.fa-edit {
    font-size: 20px; /* İkonun boyutunu büyütür */
    color: #3c70ac; /* İkonun rengini değiştirir */
  }
  .fas.fa-trash {
    font-size: 20px; /* İkonun boyutunu büyütür */
    color: #668cb8; /* İkonun rengini değiştirir */
  }