.navbar {
    background-color: #f7f7f7;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000;
    height: 70px;
}

.navbar .navbar-toggler {
    margin-left: auto;
}

.navbar .navbar-brand {
    color: #222f44;
    font-size: 25px;
    font-family: 'Georgia', serif;
    transition: color 0.3s ease, transform 0.3s ease;
}

.navbar .navbar-brand:hover {
    color: #dae2e6;
    transform: scale(1.1);
}

.navbar .nav-link {
    color: #222f44;
    font-size: 17px;
    font-family: 'Arial', sans-serif;
    padding-left: 15px;
    padding-right: 15px;
    transition: transform 0.3s ease;
}

.navbar .nav-link:active, .navbar .nav-link:focus {
    background-color: #cad5df;
    color: #222f44;
}

.navbar .nav-link:hover {
    transform: scale(1.2);
}

.btn-outline {
    // border: 2px solid #3b74b1;
    // transition: transform 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    border: 1px solid #e0ecde;
    background-color: #e0ecde;
    color: #160828;
    text-align: center;
    text-transform: capitalize;
    border-radius: 50px;
    flex: none;
    padding: 11px 40px;
    transition: all .5s;
    display: inline-block;
}

.btn-outline:hover {
    transform: scale(1.02);
    // border-color: #0056b3;
    // color: #0056b3;
    background-color: #425f66;
    color: white;
}

.collapse.navbar-collapse {
    display: flex;
    justify-content: space-between;
}

.navbar-nav.mx-auto {
    flex: 1;
    display: flex;
    justify-content: center;
}

///////////////////////////////////////////
mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background: #f7f7f7;
}

ul{
    li{
        list-style: none;
    }
}

::ng-deep{
    .mat-menu-content{
        width:260px ;
    }
}

#profileDropdown {
    margin-top: 20px;
}