.navbar {
    background-color: #344b61; /* Arka plan rengini değiştir */
}
.navbar .nav-link {
    color: #dae2e6; /* Yazı rengini değiştir */
    font-size: 17px; /* Yazı boyutunu değiştir */
    font-family: 'Arial', sans-serif; /* Yazı tipini değiştir */
    
    padding-left: 15px; /* Sol boşluk ekle */
    padding-right: 15px; /* Sağ boşluk ekle */

    display: inline-block; /* Yazının çevresindeki alana göre ölçeklenmesini sağlar */
    transition: transform 0.3s ease; /* Ölçekleme geçişi için */
}
.navbar .nav-link:active, .navbar .nav-link:focus {
    background-color: #314455; /* Tıklanan bağlantının arka plan rengini değiştir */
    color: #dae2e6; /* Yazı rengini değiştir */
}
.navbar .nav-link:hover {
    transform: scale(1.2); /* Yazı üzerine gelindiğinde yazıyı ölçeklendir */
}
.navbar-brand {
    color: #dae2e6; /* Yazı rengini değiştir */
    font-size: 25px; /* Yazı boyutunu değiştir */
    font-family: 'Georgia', serif; /* Yazı tipini değiştir */
    transition: color 0.3s ease, transform 0.3s ease; /* Geçiş animasyonu */
    
    padding-left: 20px; /* Sol boşluk ekle */
}
.navbar-brand:hover {
    color: #dae2e6; /* Yazı rengi üzerine gelindiğinde değiştir */
    transform: scale(1.1); /* Yazı üzerine gelindiğinde ölçeklendir */
}

////////////////////////////////////////////////////
nav{
    height: 100%;
}
.side-nav-button{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.side-nav-button:hover{
    background-color: rgb(255,255,255,0.2);
    border-radius: 30% ;
}


