  <footer>
    <!-- <div class="container">
      <div class="column">
        <h2>Hakkımızda</h2>
        <ul>
          <li><i class="fa-solid fa-user-doctor"></i><a href="#">Doktorlar</a></li>
          <li><i class="fa-solid fa-house-chimney-medical"></i><a href="#">Poliklinikler</a></li>
          <li><i class="fa-solid fa-location-dot"></i><a href="#">Konum</a></li>
          <li><a href="#">Hakkımızda</a></li>
          <li><a href="#">Canlı Destek</a></li>
          <li><a href="#">İletişim</a></li>
        </ul>
      </div>
      <div class="column">
        <h3>Bağlantılar</h3>
        <ul>
          <li><a href="#">Giriş Yap</a></li>
          <li><a href="#">Randevu Al</a></li>
          <li><a href="#">Madde X</a></li>
          <li><a href="#">Madde X</a></li>
          <li><a href="#">Madde X</a></li>
          <li><a href="#">Madde X</a></li>
        </ul>
      </div>
      <div class="column">
        <h2>Çalışma Saatleri</h2>
        <ul>
          <li>Poliklinikler</li>
          <li><span>09.00 - 16.00</span></li>
          <li>Öğle Arası</li>
          <li>12.30 - 13.30</li>
          <li>Cumartesi / Pazar</li>
          <li>10.00 - 16.00</li>
        </ul>
      </div>
      <div class="column">
        <h2>Haber Bülteni</h2>
        <ul>
          <li>Kampanya fırsatları ve son gelişmelerden anında haberdar olmak için abone olun!</li>
        </ul>
        <form>
          <input type="email" placeholder="ornekmail@ornekmail.com">
          <button type="submit">Abone Olun <i class="fa-regular fa-paper-plane"></i></button>
        </form>
        <ul>
          <li><span hidden class="badge badge-success ?">Başarıyla abone olundu!</span></li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>Telif Hakkı &copy; 2024 <br/> HRS Hastane Randevu Sistemi <br/> PAIR7 tarafından <i class="fa-regular fa-heart"></i> ile tasarlanmıştır.</p>
    </div> -->
    <!-- <div class="footer-register">
      <div class="footer-register-container">
        <div class="footer-register-wrapper">
          <div class="footer-register-content">
            <div class="footer-register-logo"><i class="fa-regular fa-address-card"></i></div>
            <h2 class="footer-register-title">Register to our appointment system</h2>
            <div class="register-form">
              <form action="" class="footer-register-form">
                <input type="email" class="footer-register-input" placeholder="Email">
                <input type="submit" class="footer-submit-input" value="Register">
              </form>
            </div>
          </div>
          <div class="footer-register-image"></div>
        </div>
      </div>
    </div> -->

    <div class="footer-top">
      <div class="footer-top-container">
        <div class="top-container">
          <!-- <div class="logo-wrapper">
            <a href=""><i class="fa-solid fa-dna"></i><span>HRS.COM</span></a>
            <a href="" class="register-button">Randevu Al<i class="fa-solid fa-arrow-right-to-bracket"></i></a> -->
          <!-- </div> -->
          <div class="contact-container">
            <div class="contact-item">
              <div class="contact-item-logo"><i class="fa-solid fa-street-view"></i></div>
              <p class="contact-info">Kavacık, Rüzgarlıbahçe Mah. Çampınarı Sok. <br>No:4 Smart Plaza B Blok Kat:3 34805, Beykoz/İstanbul</p>
            </div>
            <div class="contact-item">
              <div class="contact-item-logo"><i class="fa-solid fa-phone"></i></div>
              <p class="contact-info">(0216) 331 48 00</p>
            </div>
            <div class="contact-item">
              <div class="contact-item-logo"><i class="fa-solid fa-envelope"></i></div>
              <p class="contact-info">randevu&#64;hrs.com</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="footer-line"></div>
      <div class="footer-bottom-container">
        <div class="bottom-container">
          <!-- <div class="footer-bottom-links">
            <a href="#" class="footer-link">Ana Sayfa</a>
            <a href="#" class="footer-link">Hakkımızda</a>
            <a href="#" class="footer-link">Doktorlar</a>
            <a href="#" class="footer-link">Haberler</a>
            <a href="#" class="footer-link">Galeri</a>
            <a href="#" class="footer-link">İletişim</a>
          </div> -->
          <div class="footer-copyright">Telif Hakkı &copy; 2024 HRS Hastane Randevu Sistemi <br/> <span>PAIR7 </span>tarafından <i class="fa-regular fa-heart"></i> ile tasarlanmıştır.</div>
        </div>
      </div>
    </div>

  </footer>
